@use 'fonts' as *;

:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --hover-color: #161616;
  --purple-color: #ae7aff;
  --grey-color: #b5b5b5;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--dark-color);
  background-image: url('../public/assets/imgs/background.png');
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  color: var(--white-color);
}

.skill-tag {
  padding: 4px 8px;
  border: 1px solid var(--white-color);
  border-radius: 2px;
  height: min-content;
}

.btn {
  background: var(--purple-color);
  color: var(--dark-color);
  border: none;
  cursor: pointer;
}
